interactions:
- request:
    body: '{"query":"\nquery($owner: String!, $repo: String!, $number: Int!) {\n  repository(owner:
      $owner, name: $repo) {\n    pullRequest(number: $number) {\n      url\n      title\n      author
      { login }\n      baseRefName\n      headRefName\n      state\n      headRefOid\n      comments(first:
      100) {\n        nodes {\n          id\n          author { login }\n          body\n          createdAt\n        }\n      }\n      reviews(first:
      100) {\n        nodes {\n          id\n          author { login }\n          body\n          createdAt\n          state\n          commit
      { oid }\n        }\n      }\n      reviewThreads(first: 100) {\n        nodes
      {\n          id\n          isResolved\n          path\n          line\n          comments(first:
      100) {\n            nodes {\n              id\n              body\n              author
      { login }\n              createdAt\n              pullRequestReview { id }\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"owner":"alexjuda","repo":"rv-testing","number":99999}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"pullRequest":null}},"errors":[{"type":"NOT_FOUND","path":["repository","pullRequest"],"locations":[{"line":4,"column":5}],"message":"Could
        not resolve to a PullRequest with the number of 99999."}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      github-authentication-token-expiration: 2021-01-01 09:01:01 UTC
      x-github-media-type:
      - github.v4; format=json
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4990'
      x-ratelimit-reset:
      - '1784629653'
      x-ratelimit-resource:
      - graphql
      x-ratelimit-used:
      - '10'
    status:
      code: 200
      message: OK
version: 1
