interactions:
- request:
    body: '{"query":"\n        query($owner: String!, $repo: String!, $branch: String!)
      {\n            repository(owner: $owner, name: $repo) {\n                pullRequests(headRefName:
      $branch, first: 10, states: OPEN) {\n                    nodes {\n                        number\n                        title\n                        headRefName\n                        baseRefName\n                        state\n                        url\n                    }\n                }\n            }\n        }\n        ","variables":{"owner":"alexjuda","repo":"rv-testing","branch":"nonexistent-branch-xyz"}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"pullRequests":{"nodes":[]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v4; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4915'
      X-RateLimit-Reset:
      - '1779960357'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '85'
      github-authentication-token-expiration: 2021-01-01 09:01:01 UTC
    status:
      code: 200
      message: OK
version: 1
