interactions:
- request:
    body: '{"query":"\nquery($owner: String!, $repo: String!, $number: Int!) {\n  repository(owner:
      $owner, name: $repo) {\n    pullRequest(number: $number) {\n      url\n      title\n      author
      { login }\n      baseRefName\n      headRefName\n      state\n      headRefOid\n      comments(first:
      100) {\n        nodes {\n          id\n          author { login }\n          body\n          createdAt\n        }\n      }\n      reviews(first:
      100) {\n        nodes {\n          id\n          author { login }\n          body\n          createdAt\n          state\n          commit
      { oid }\n        }\n      }\n      reviewThreads(first: 100) {\n        nodes
      {\n          id\n          isResolved\n          path\n          line\n          comments(first:
      100) {\n            nodes {\n              id\n              body\n              author
      { login }\n              createdAt\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"owner":"alexjuda","repo":"rv-testing","number":5}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"pullRequest":{"url":"https://github.com/alexjuda/rv-testing/pull/5","title":"chore:
        test fixtures for rv e2e tests","author":{"login":"alexjuda"},"baseRefName":"main","headRefName":"test/fixtures","state":"OPEN","headRefOid":"b11be51163d4942f192e9f34cf7a2eb9719a2892","comments":{"nodes":[]},"reviews":{"nodes":[{"id":"PRR_kwDOSlvxhM8AAAABBQjYIg","author":{"login":"alexjuda"},"body":"","createdAt":"2026-05-28T08:57:17Z","state":"COMMENTED","commit":{"oid":"b11be51163d4942f192e9f34cf7a2eb9719a2892"}},{"id":"PRR_kwDOSlvxhM8AAAABBQjZBw","author":{"login":"alexjuda"},"body":"","createdAt":"2026-05-28T08:57:18Z","state":"COMMENTED","commit":{"oid":"b11be51163d4942f192e9f34cf7a2eb9719a2892"}},{"id":"PRR_kwDOSlvxhM8AAAABBQjZfg","author":{"login":"alexjuda"},"body":"","createdAt":"2026-05-28T08:57:19Z","state":"COMMENTED","commit":{"oid":"b11be51163d4942f192e9f34cf7a2eb9719a2892"}},{"id":"PRR_kwDOSlvxhM8AAAABBQjaZg","author":{"login":"alexjuda"},"body":"","createdAt":"2026-05-28T08:57:21Z","state":"COMMENTED","commit":{"oid":"b11be51163d4942f192e9f34cf7a2eb9719a2892"}},{"id":"PRR_kwDOSlvxhM8AAAABBQjb_w","author":{"login":"alexjuda"},"body":"","createdAt":"2026-05-28T08:57:24Z","state":"COMMENTED","commit":{"oid":"b11be51163d4942f192e9f34cf7a2eb9719a2892"}},{"id":"PRR_kwDOSlvxhM8AAAABBQjcfw","author":{"login":"alexjuda"},"body":"","createdAt":"2026-05-28T08:57:25Z","state":"COMMENTED","commit":{"oid":"b11be51163d4942f192e9f34cf7a2eb9719a2892"}},{"id":"PRR_kwDOSlvxhM8AAAABBQjdCg","author":{"login":"alexjuda"},"body":"","createdAt":"2026-05-28T08:57:27Z","state":"COMMENTED","commit":{"oid":"b11be51163d4942f192e9f34cf7a2eb9719a2892"}},{"id":"PRR_kwDOSlvxhM8AAAABDirxmw","author":{"login":"alexjuda"},"body":"","createdAt":"2026-06-19T12:03:52Z","state":"COMMENTED","commit":{"oid":"b11be51163d4942f192e9f34cf7a2eb9719a2892"}}]},"reviewThreads":{"nodes":[{"id":"PRRT_kwDOSlvxhM6FWATH","isResolved":true,"path":"calculator.py","line":19,"comments":{"nodes":[{"id":"PRRC_kwDOSlvxhM7FrnlJ","body":"Consider
        using `math.factorial` from the standard library. It''s more readable and
        uses optimized C code.","author":{"login":"alexjuda"},"createdAt":"2026-05-28T08:57:17Z"},{"id":"PRRC_kwDOSlvxhM7NLeMu","body":"Will
        do!","author":{"login":"alexjuda"},"createdAt":"2026-06-19T12:03:52Z"}]}},{"id":"PRRT_kwDOSlvxhM6FWAUe","isResolved":false,"path":"calculator.py","line":29,"comments":{"nodes":[{"id":"PRRC_kwDOSlvxh[...]
