interactions:
- request:
    body: '{"query":"\nquery($owner: String!, $repo: String!, $branch: String!) {\n  repository(owner:
      $owner, name: $repo) {\n    pullRequests(headRefName: $branch, states: [OPEN],
      first: 1) {\n      nodes {\n        number\n      }\n    }\n  }\n}\n","variables":{"owner":"alexjuda","repo":"rv-testing","branch":"test/fixtures"}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"pullRequests":{"nodes":[{"number":6}]}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      github-authentication-token-expiration: 2021-01-01 09:01:01 UTC
      x-github-media-type:
      - github.v4; format=json
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4986'
      x-ratelimit-reset:
      - '1782814665'
      x-ratelimit-resource:
      - graphql
      x-ratelimit-used:
      - '14'
    status:
      code: 200
      message: OK
version: 1
