interactions:
- request:
    body: '{"query":"\nquery($owner: String!, $repo: String!, $after: String, $states:
      [PullRequestState!]) {\n  repository(owner: $owner, name: $repo) {\n    pullRequests(first:
      100, states: $states, after: $after) {\n      nodes {\n        number\n        title\n        author
      { login }\n        url\n        baseRefName\n        headRefName\n        state\n        headRefOid\n      }\n      pageInfo
      {\n        hasNextPage\n        endCursor\n      }\n    }\n  }\n}\n","variables":{"owner":"alexjuda","repo":"rv-testing","after":null,"states":["OPEN"]}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"pullRequests":{"nodes":[{"number":6,"title":"chore:
        test fixtures for rv e2e tests","author":{"login":"alexjuda"},"url":"https://github.com/alexjuda/rv-testing/pull/6","baseRefName":"main","headRefName":"test/fixtures","state":"OPEN","headRefOid":"abf05fedabf028f47f23d58b3415b7040c1e184b"}],"pageInfo":{"hasNextPage":false,"endCursor":"Y3Vyc29yOnYyOpHO7CMzIA=="}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      github-authentication-token-expiration: 2021-01-01 09:01:01 UTC
      x-github-media-type:
      - github.v4; format=json
      x-ratelimit-limit:
      - '5000'
      x-ratelimit-remaining:
      - '4981'
      x-ratelimit-reset:
      - '1782814665'
      x-ratelimit-resource:
      - graphql
      x-ratelimit-used:
      - '19'
    status:
      code: 200
      message: OK
version: 1
