interactions:
- request:
    body: '{"query":"\nquery($owner: String!, $repo: String!, $number: Int!) {\n  repository(owner:
      $owner, name: $repo) {\n    pullRequest(number: $number) {\n      url\n      title\n      author
      { login }\n      baseRefName\n      headRefName\n      state\n      headRefOid\n      comments(first:
      100) {\n        nodes {\n          id\n          author { login }\n          body\n          createdAt\n        }\n      }\n      reviews(first:
      100) {\n        nodes {\n          id\n          author { login }\n          body\n          createdAt\n          state\n          commit
      { oid }\n        }\n      }\n      reviewThreads(first: 100) {\n        nodes
      {\n          id\n          isResolved\n          path\n          line\n          comments(first:
      100) {\n            nodes {\n              id\n              body\n              author
      { login }\n              createdAt\n            }\n          }\n        }\n      }\n    }\n  }\n}\n","variables":{"owner":"alexjuda","repo":"rv-testing","number":6}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      content-type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: "{\"data\":{\"repository\":{\"pullRequest\":{\"url\":\"https://github.com/alexjuda/rv-testing/pull/6\",\"title\":\"chore:
        test fixtures for rv e2e tests\",\"author\":{\"login\":\"alexjuda\"},\"baseRefName\":\"main\",\"headRefName\":\"test/fixtures\",\"state\":\"OPEN\",\"headRefOid\":\"abf05fedabf028f47f23d58b3415b7040c1e184b\",\"comments\":{\"nodes\":[{\"id\":\"IC_kwDOSlvxhM8AAAABIJMTKw\",\"author\":{\"login\":\"alexjuda\"},\"body\":\"Left
        some review feedback. Overall the changes look good!\",\"createdAt\":\"2026-06-30T08:38:44Z\"},{\"id\":\"IC_kwDOSlvxhM8AAAABIJMTdg\",\"author\":{\"login\":\"alexjuda\"},\"body\":\"I
        noticed tests still need to be added \u2014 are those coming in a follow-up?\",\"createdAt\":\"2026-06-30T08:38:44Z\"}]},\"reviews\":{\"nodes\":[{\"id\":\"PRR_kwDOSlvxhM8AAAABEhsJzw\",\"author\":{\"login\":\"alexjuda\"},\"body\":\"\",\"createdAt\":\"2026-06-30T08:38:35Z\",\"state\":\"COMMENTED\",\"commit\":{\"oid\":\"abf05fedabf028f47f23d58b3415b7040c1e184b\"}},{\"id\":\"PRR_kwDOSlvxhM8AAAABEhsKRg\",\"author\":{\"login\":\"alexjuda\"},\"body\":\"\",\"createdAt\":\"2026-06-30T08:38:36Z\",\"state\":\"COMMENTED\",\"commit\":{\"oid\":\"abf05fedabf028f47f23d58b3415b7040c1e184b\"}},{\"id\":\"PRR_kwDOSlvxhM8AAAABEhsKrw\",\"author\":{\"login\":\"alexjuda\"},\"body\":\"\",\"createdAt\":\"2026-06-30T08:38:37Z\",\"state\":\"COMMENTED\",\"commit\":{\"oid\":\"abf05fedabf028f47f23d58b3415b7040c1e184b\"}},{\"id\":\"PRR_k[...]
