interactions:
- request:
    body: '{"query":"\n        query($owner: String!, $repo: String!, $branch: String!)
      {\n            repository(owner: $owner, name: $repo) {\n                pullRequests(headRefName:
      $branch, first: 10, states: OPEN) {\n                    nodes {\n                        number\n                        title\n                        headRefName\n                        baseRefName\n                        state\n                        url\n                    }\n                }\n            }\n        }\n        ","variables":{"owner":"alexjuda","repo":"rv-testing","branch":"test/fixtures"}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"pullRequests":{"nodes":[{"number":5,"title":"chore:
        test fixtures for rv e2e tests","headRefName":"test/fixtures","baseRefName":"main","state":"OPEN","url":"https://github.com/alexjuda/rv-testing/pull/5"}]}}}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-GitHub-Media-Type:
      - github.v4; format=json
      X-RateLimit-Limit:
      - '5000'
      X-RateLimit-Remaining:
      - '4922'
      X-RateLimit-Reset:
      - '1779960357'
      X-RateLimit-Resource:
      - graphql
      X-RateLimit-Used:
      - '78'
      github-authentication-token-expiration: 2021-01-01 09:01:01 UTC
    status:
      code: 200
      message: OK
- request:
    body: '{"query":"\n        query($owner: String!, $repo: String!, $pr: Int!) {\n            repository(owner:
      $owner, name: $repo) {\n                pullRequest(number: $pr) {\n                    reviewThreads(first:
      100) {\n                        nodes {\n                            id\n                            path\n                            line\n                            startLine\n                            isResolved\n                            isOutdated\n                            comments(first:
      100) {\n                                nodes {\n                                    id\n                                    body\n                                    author
      { login }\n                                    createdAt\n                                }\n                            }\n                        }\n                    }\n                }\n            }\n        }\n        ","variables":{"owner":"alexjuda","repo":"rv-testing","pr":5}}'
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/json
    method: POST
    uri: https://api.github.com/graphql
  response:
    body:
      string: '{"data":{"repository":{"pullRequest":{"reviewThreads":{"nodes":[{"id":"PRRT_kwDOSlvxhM6FWATH","path":"calculator.py","line":19,"startLine":19,"isResolved":false,"isOutdated":false,"comments":{"nodes":[{"id":"PRRC_kwDOSlvxhM7FrnlJ","body":"Consider
        using `math.factorial` from the standard library. It''s more readable and
        uses optimized C code.","author":{"login":"alexjuda"},"createdAt":"2026-05-28T08:57:17Z"}]}},{"id":"PRRT_kwDOSlvxhM6FWAUe","path":"calculator.py","line":29,"startLine":26,"isResolved":false,"isOutdated":false,"comments":{"nodes":[{"id":"PRRC_kwDOSlvxhM7Frnm-","body":"The
        `if/elif/else` chain for the base cases could be simplified to `if n <= 1:
        return n`.","author":{"login":"alexjuda"},"createdAt":"2026-05-28T08:57:18Z"}]}},{"id":"PRRT_kwDOSlvxhM6FWAV4","path":"calculator.py","line":33,"startLine":33,"isResolved":true,"isOutdated":false,"commen[...]
